[Unit]
Description=Radio Browser Health Check Timer
After=nginx.service mpd.service

[Timer]
OnBootSec=90
OnUnitActiveSec=300
AccuracySec=30

[Install]
WantedBy=timers.target
