[Unit]
Description=Radio Browser Service Check
After=nginx.service mpd.service
Wants=nginx.service

[Service]
Type=oneshot
ExecStart=/var/www/extensions/installed/radio-browser/systemd/radio-browser.sh
User=www-data
Group=www-data
ProtectSystem=strict
ReadWritePaths=/var/www/extensions/installed/radio-browser/cache
ProtectHome=true
NoNewPrivileges=true
StandardOutput=journal
StandardError=journal
SyslogIdentifier=radio-browser
